<%= render 'users/list', user: @user %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
            <tbody>
              <tr>
                <% @books.each do |book| %>
                <td><%= image_tag book.user.get_profile_image_method %></td>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
                <% end %>
              </tr>
            </tbody>
          </tr>
        </thead>
      </table>
    </div>