

<h1>welcome to Bookers!!</h1>
<p>in
<%= link_to root_path do %>
<i class="fa-solid fa-book"></i>
<% end %>
Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>
